body{
    font-family: 'Roboto Condensed', sans-serif;
    
}
.responsive-img{
    width:100%;
    height:auto;
    padding:0;
    
}
.container-small{
    width:70%;
    margin:auto;
}
#hero{
    background-image:url("/assets/backgrounds/h_img.jpg"),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    height: 100vh;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-description{
    margin-top: 120px;
    
    
}
.hero-description h5{font-size:50px;}
.hero-description h2{font-size:50px;}
.hero-description img{padding: 40px 0 20px 0;}

#about{ padding:50px;}
#about h2, #service h2, #wedo h2, #portofolio h2, #work h2, #contact h2{font-size:50px;}
#service{
    text-align:center;
    background-image:url("/assets/backgrounds/s_image.jpg"),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    padding:50px;
    
}
#service p {padding:0; margin:0;}
#wedo {padding: 50px;}
.card1, .card2, .card3{ padding:30px; margin-bottom: 10px;}

.design-text, .product-text, .developement-text{text-align:justify; padding:20px 0; display: none;}
.portofolio-img{
    
    position:relative;
    
}

.portofolio-img .portofolio-text{
    display:none;
    opacity:1;
    background-color: rgba(255,255,255,0.8);
    background-color: rgba(255,255,255,0.6);
    width:auto;
    position:absolute;
    bottom:0;
    color:rgb(41, 96, 117);
    text-align:center;
    font-weight: bold;
    font-size:20px;
    padding:50px;
    
    height:100%;
}
#work{padding: 50px;}
#contact{
    text-align:center;
    background-image:url("/assets/backgrounds/c_image.jpg"),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    padding:50px;
    
}
form{
    margin-top:40px;
}
form input, form textarea{
 width:100%;
 border-radius:4px;
 border:1px solid rgb(122, 120, 120);
 padding:5px 10px;
 background:none;
 margin-bottom: 30px;
}
form input::placeholder, form textarea{
    color:white;
}
#footer{
    padding:50px 0 0 0;
    border:1px solid green;
}
.copyright{
    margin-top: 25px;
}
.copyright p {
    margin:0;
    padding:0;
}
