body{
    font-family: 'Roboto Condensed', sans-serif;
    
}
.container-small{
    width:70%;
    margin:auto;
}
#hero{
    background-image:url("../img/hero.jpg"),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    height: 100vh;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-description{
    margin-top: 120px;
    
    
}
.hero-description h5{font-size:50px;}
.hero-description h2{font-size:50px;}
.hero-description img{padding: 40px 0 20px 0;}

#about{ padding:50px;}
#about h2, #service h2, #wedo h2, #portofolio h2, #work h2, #contact h2{font-size:50px;}


